doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title О компании — КупеДекор
    link(rel='stylesheet' href='css/main.css')
    link(rel="icon" href="favicon.ico" type="image/x-icon")

  body.body
    nav.top-menu.l-center-wrapper.l-center-wrapper_top-menu.clearfix
        ul.top-menu__list
          li.top-menu__item
            a.top-menu__link(href='index.html') Главная
          li.top-menu__item
            a.top-menu__link(href='works.html') Наши работы
          li.top-menu__item
            span.top-menu__active О компании
          li.top-menu__item
            a.top-menu__link(href='systems.html') Системы
          li.top-menu__item
            a.top-menu__link(href='materials.html') Материалы
          li.top-menu__item
            a.top-menu__link(href='contacts.html') Контакты

    .page-wrapper.l-center-wrapper
      main.main
        h1.page-heading О компании

        p.text В нашей компании работает команда высококвалифицированных специалистов, обладающих необходимыми знаниями и имеющая большой опыт в производстве шкафов-купе.
        p.text Все детали шкафов-купе производятся на современном высокоточном немецком оборудовании, из экологически чистых материалов, повышенной износостойкости. Все это позволяет нам изготовить высококачественную продукцию.
        p.text Мы готовы предложить вам: корпусные шкафы-купе, встроенные шкафы-купе, угловые шкафы-купе, шкафы-купе для прихожих, гардеробные, библиотеки и другую мебель на заказ.
        p.text Для наших клиентов мы осуществим полный цикл работ, который включает в себя:
        ul.theses-list
          li.theses-list__item проектирование
          li.theses-list__item изготовление
          li.theses-list__item сборку и монтаж
          li.theses-list__item а также, доставку

    footer.footer.l-center-wrapper.l-center-wrapper_footer
      .footer__column.footer__column_legal_name
        .legal-name__row ИП Маслов Дмитрий Андреевич
        .legal-name__row ОГРНИП 312774609400500
        .legal-name__row ИНН 773134977654

      .footer__column.footer__column_legal_address
        .footer__column-heading Юр. адрес:
        |121596, г.Москва, ул. Горбунова, д.11, к.4
      .footer__column.footer__column_contacts
        .footer__contact Телефон: 8 (499) 390-62-36
        .footer__contacts__contact e-mail:
          a.footer__link(href='mailto:info@kupedekor.ru') &nbsp;info@kupedekor.ru
