doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Рассчет стоимости — КупеДекор
    link(rel='stylesheet' href='css/main.css')
    link(rel="icon" href="favicon.ico" type="image/x-icon")

  body.body
    nav.top-menu.l-center-wrapper.l-center-wrapper_top-menu.clearfix
        ul.top-menu__list
          li.top-menu__item
            a.top-menu__link(href='index.html') Главная
          li.top-menu__item
            a.top-menu__link(href='works.html') Наши работы
          li.top-menu__item
            a.top-menu__link(href='about.html') О компании
          li.top-menu__item
            a.top-menu__link(href='systems.html') Системы
          li.top-menu__item
            a.top-menu__link(href='materials.html') Материалы
          li.top-menu__item
            a.top-menu__link(href='contacts.html') Контакты

    .page-wrapper.l-center-wrapper
      main.main
        h1.page-heading Рассчет стоимости

        p.text
          strong Вы можете получить необходимую консультацию и информацию о стоимости, позвонив нам по телефону.
        p.text Для правильного рассчета стоимости шкафа-купе по телефону необходимо, в первую очередь, определить тип шкафа. например:&ensp;
          em угловой
          |,&ensp;
          em встроенный
          |,&ensp;
          em корпусный&ensp;
          | и др.
        p.text Для корректного расчета нужно определить вместе с нашим менеджером следующие параметры:
        ul.theses-list
          li.theses-list__item размеры (ширина, высота, глубина);
          li.theses-list__item количество дверей;
          li.theses-list__item материал наполнения дверей (зеркало, ЛДСП);
          li.theses-list__item система раздвежных дверей — «Престиж» или «Командор»;
          li.theses-list__item количество полок в каждой секции;
          li.theses-list__item дополнительные элементы: ящики, вешалки, подсветка.

    footer.footer.l-center-wrapper.l-center-wrapper_footer
      .footer__column.footer__column_legal_name
        .legal-name__row ИП Маслов Дмитрий Андреевич
        .legal-name__row ОГРНИП 312774609400500
        .legal-name__row ИНН 773134977654

      .footer__column.footer__column_legal_address
        .footer__column-heading Юр. адрес:
        |121596, г.Москва, ул. Горбунова, д.11, к.4
      .footer__column.footer__column_contacts
        .footer__contact Телефон: 8 (499) 390-62-36
        .footer__contacts__contact e-mail:
          a.footer__link(href='mailto:info@kupedekor.ru') &nbsp;info@kupedekor.ru
