doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Контакты — КупеДекор
    link(rel='stylesheet' href='css/main.css')
    link(rel="icon" href="favicon.ico" type="image/x-icon")

  body.body
    nav.top-menu.l-center-wrapper.l-center-wrapper_top-menu.clearfix
        ul.top-menu__list
          li.top-menu__item
            a.top-menu__link(href='index.html') Главная
          li.top-menu__item
            a.top-menu__link(href='works.html') Наши работы
          li.top-menu__item
            a.top-menu__link(href='about.html') О компании
          li.top-menu__item
            a.top-menu__link(href='systems.html') Системы
          li.top-menu__item
            a.top-menu__link(href='materials.html') Материалы
          li.top-menu__item
            span.top-menu__active Контакты

    .page-wrapper.l-center-wrapper
      main.main
        h1.page-heading Контакты
        p.text Телефон: 8 (499) 390-62-36
          br
          | e-mail:&nbsp;
          a.mail-link(href='mailto:info@kupedekor.ru') info@kupedekor.ru

        h2.sub-heading Реквизиты
        table.table
          tbody
            tr.table__row
              td.table__cell ИП
              td.table__cell Маслов Дмитрий Андреевич
            tr.table__row
              td.table__cell ОГРНИП
              td.table__cell 312774609400500
            tr.table__row
              td.table__cell ИНН
              td.table__cell 773134977654
            tr.table__row
              td.table__cell Юр.адрес
              td.table__cell 121596, г.Москва, ул. Горбунова д. 11 к.4

    footer.footer.l-center-wrapper.l-center-wrapper_footer
      .footer__column.footer__column_legal_name
        .legal-name__row ИП Маслов Дмитрий Андреевич
        .legal-name__row ОГРНИП 312774609400500
        .legal-name__row ИНН 773134977654

      .footer__column.footer__column_legal_address
        .footer__column-heading Юр. адрес:
        |121596, г.Москва, ул. Горбунова, д.11, к.4
      .footer__column.footer__column_contacts
        .footer__contact Телефон: 8 (499) 390-62-36
        .footer__contacts__contact e-mail:
          a.footer__link(href='mailto:info@kupedekor.ru') &nbsp;info@kupedekor.ru
