doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Материалы — КупеДекор
    link(rel='stylesheet' href='css/main.css')
    link(rel="icon" href="favicon.ico" type="image/x-icon")

  body.body
    nav.top-menu.l-center-wrapper.l-center-wrapper_top-menu.clearfix
        ul.top-menu__list
          li.top-menu__item
            a.top-menu__link(href='index.html') Главная
          li.top-menu__item
            a.top-menu__link(href='works.html') Наши работы
          li.top-menu__item
            a.top-menu__link(href='about.html') О компании
          li.top-menu__item
             a.top-menu__link(href='systems.html') Системы
          li.top-menu__item
            span.top-menu__active Материалы
          li.top-menu__item
            a.top-menu__link(href='contacts.html') Контакты

    .page-wrapper.l-center-wrapper
      main.main
        h1.page-heading О материалах
        p.text В изготовлении шкафов-купе мы используем хорошо зарекомендовавшие себя ЛДСП фирм Egger и Kranostar.

        h2.sub-heading ЛДСП Egger
        p.text Австрийская компания Egger по праву считается европейским лидером по производству ЛДСП. Древесностружечные плиты данной марки отличаются высочайшем качеством и надежностью. Для изготовления ЛДСП Egger используются самые передовые технологии. Одним из неоспоримых достоинств ЛДСП этого австрийского производителя является, экологичность. ЛДСП соответствует европейскому стандарту Е1-низкий уровень формальдегида и отсутствие запаха. Выбор цветов и толщины достаточно широк, данное ЛДСП очень хорошо поддается обработке, а также обладает качественной пленкой(устойчива к царапинам). ЛДСП марки Egger можно считать идеальным вариантом для производства мебели.

        h2.sub-heading ЛДСП Kronostar
        p.text ЛДСП Kronostar представляет собой трехслойную древесную плиту, получаемую путем прессования смеси из древесных волокон и синтетической смолы при высокой температуре. Внутренний слой плиты выполнен из крупных древесных волокон, тогда как внешний слой состоит из мелких. Такая технология производства ЛДСП обеспечивает плите гладкую поверхность, высокие технологические и физико-механические характеристики. Благодаря широкому ассортименту ламинационного покрытия ЛДСП Kronostar - идеальный строительный материал для мебели практически любого интерьера.

        .materials-gallery
          a.js-lightbox-open(href='pictures/materials/F501_ST2.jpg')
            img.materials-gallery__preview(src='pictures/materials/F501_ST2.jpg')
          a.js-lightbox-open(href='pictures/materials/')
            img.materials-gallery__preview(src='pictures/materials/')
          a.js-lightbox-open(href='pictures/materials/')
            img.materials-gallery__preview(src='pictures/materials/')
          a.js-lightbox-open(href='pictures/materials/')
            img.materials-gallery__preview(src='pictures/materials/')
          a.js-lightbox-open(href='pictures/materials/')
            img.materials-gallery__preview(src='pictures/materials/')
          a.js-lightbox-open(href='pictures/materials/')
            img.materials-gallery__preview(src='pictures/materials/')
          a.js-lightbox-open(href='pictures/materials/')
            img.materials-gallery__preview(src='pictures/materials/')

    footer.footer.l-center-wrapper.l-center-wrapper_footer
      .footer__column.footer__column_legal_name
        .legal-name__row ИП Маслов Дмитрий Андреевич
        .legal-name__row ОГРНИП 312774609400500
        .legal-name__row ИНН 773134977654

      .footer__column.footer__column_legal_address
        .footer__column-heading Юр. адрес:
        |121596, г.Москва, ул. Горбунова, д.11, к.4
      .footer__column.footer__column_contacts
        .footer__contact Телефон: 8 (499) 390-62-36
        .footer__contacts__contact e-mail:
          a.footer__link(href='mailto:info@kupedekor.ru') &nbsp;info@kupedekor.ru
