doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Системы — КупеДекор
    link(rel='stylesheet' href='css/main.css')
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href='js/bitter/vanillabox.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/jquery.vanillabox-0.1.6.min.js')


  body.body
    nav.top-menu.l-center-wrapper.l-center-wrapper_top-menu.clearfix
        ul.top-menu__list
          li.top-menu__item
            a.top-menu__link(href='index.html') Главная
          li.top-menu__item
            a.top-menu__link(href='works.html') Наши работы
          li.top-menu__item
            a.top-menu__link(href='about.html') О компании
          li.top-menu__item
            span.top-menu__active Системы
          li.top-menu__item
            a.top-menu__link(href='materials.html') Материалы
          li.top-menu__item
            a.top-menu__link(href='contacts.html') Контакты

    .page-wrapper.l-center-wrapper
      main.main
        h1.page-heading Системы

        .p-systems-container
          h2.sub-heading Система «Престиж»
          .clearfix
            a.systems-preview.js-lightbox-open(href='pictures/prestige-profiles2_full.jpg')
              img.systems-preview__picture.systems-preview__picture_float-left(src='pictures/prestige-profiles2_preview.jpg' title='Смотреть полное изображение')
            p.text Система раздвежных дверей «Престиж», российский аналог «Raumplus» - анодированные алюминиевые профили с качеством поверхности очень близким к оригинальному немецкому профилю. Идеальная геометрия профилей позволяет собирать двери точно в размер, без перекосов и зазоров между деталями.
            p.text Нижние ролики изготовлены с металлическим подшипником, он не требует смазки и обеспечивает бесшумный и плавный ход дверей. Верхние ролики из высокопрочного пластика. Треки, по которым катятся ролики имеют стабильную геометрию, которая не меняет своих показателей, ни от веса двери, ни от неровностей пола.
            p.text В результате этого двери отлично работают как в корпусных, так и во встроенных шкафах-купе, имея легкое, плавное, и почти бесшумное качение.

        .p-systems-container
          h2.sub-heading Система «Командор»
          .clearfix
            a.systems-preview.js-lightbox-open(href='pictures/komandor-profiles_full.jpg')
              img.systems-preview__picture.systems-preview__picture_float-right(src='pictures/komandor-profiles_preview.jpg' title='Смотреть полное изображение')
            p.text Ролики вверху и внизу, опорными являются нижние. Крепятся ролики сзади двери по углам к стальным вертикальным и горизонтальным профилям двери.
            p.text Верхние ролики с подшипником скольжения, нижние с подшипником качения. Высокое качество роликов, жесткий стальной профиль рамки двери и треков делают систему стабильной и надежной в эксплуатации.
            p.text Командор - это универсальная, надежная и качественная система раздвижных дверей купе, она имеет хороший внешний вид, высокую прочность и долговечность. Командор отлично работает, как во встроенных, так и в корпусных шкафах-купе.

    footer.footer.l-center-wrapper.l-center-wrapper_footer
      .footer__column.footer__column_legal_name
        .legal-name__row ИП Маслов Дмитрий Андреевич
        .legal-name__row ОГРНИП 312774609400500
        .legal-name__row ИНН 773134977654

      .footer__column.footer__column_legal_address
        .footer__column-heading Юр. адрес:
        |121596, г.Москва, ул. Горбунова, д.11, к.4
      .footer__column.footer__column_contacts
        .footer__contact Телефон: 8 (499) 390-62-36
        .footer__contacts__contact e-mail:
          a.footer__link(href='mailto:info@kupedekor.ru') &nbsp;info@kupedekor.ru
