doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Шкафы-купе в КупеДекор
    link(rel='stylesheet' href='css/main.css')
    link(rel='stylesheet' href='js/bitter/vanillabox.css')
    link(rel='icon' href='favicon.ico' type='image/x-icon')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/jquery.vanillabox-0.1.6.min.js')

  body.body
    nav.top-menu.l-center-wrapper.l-center-wrapper_top-menu.clearfix
        ul.top-menu__list
          li.top-menu__item
            a.top-menu__link(href='index.html') Главная
          li.top-menu__item
            span.top-menu__active Наши работы
          li.top-menu__item
            a.top-menu__link(href='about.html') О компании
          li.top-menu__item
            a.top-menu__link(href='systems.html') Системы
          li.top-menu__item
            a.top-menu__link(href='materials.html') Материалы
          li.top-menu__item
            a.top-menu__link(href='contacts.html') Контакты

    .page-wrapper.l-center-wrapper
      main.main
        h1.page-heading Наши работы

        .gallery
          a.gallery__link.js-lightbox-open(href='pictures/slide1.jpg')
            img.gallery__preview-picture(src='pictures/slide1.jpg')
          a.gallery__link.js-lightbox-open(href='pictures/slide2.jpg')
            img.gallery__preview-picture(src='pictures/slide2.jpg')
          a.gallery__link.js-lightbox-open(href='pictures/slide3.jpg')
            img.gallery__preview-picture(src='pictures/slide3.jpg')
          a.gallery__link.js-lightbox-open(href='pictures/slide4.jpg')
            img.gallery__preview-picture(src='pictures/slide4.jpg')

        h2.sub-heading#types-of-sliding-wardrobe Какими бывают шкафы-купе
        p.text Шкафы-купе делятся на 2 группы:
          ul.theses-list
            li.theses-list__item Встраиваемые
            li.theses-list__item Корпусные
        p.text Особенность втраиваемых шкафов заключается в том, что их изготавливают для установки  в заранее определенное место (нишу). Шкакфы данного вида проектируют и устанавливают в какую-либо нишу. Ниши для таких шкафов могут находиться, к примеру, в стене, под лестницей или же в мансарде, под скошенным потолком. Коме того, можно отделить часть комнаты, устроив там гардеробную. Направляющие встроенного шкафа-купе крепятся к полу и потолку, поэтому шкаф такой конструкции нельзя передвинуть. Да и изготавливают его именно для того, чтоб он стоял в выбранной вами нише — для другого места нужно собирать новую конструкцию.
        p.text Корпусный шкаф-купе, напротив, траспортабелен. Его можно перенести в другое место, как в виде цельной конструкции (если не обладает очень большой массой и габаритами), так и в разобраном виде, и установить заново. Неровности пола и стен не оказывают существенного влияния на установку и последующую эксплуатацию корпусного шкафа-купе.
        p.text Корпусная мебель так же именуется отдельно стоящей или цельносборной. Отдельной группой можно выделить модульные шкафы — это та же самая корпусная мебель, но которая придусматривает,что вы при необходимости можете добавить, изменить или убрать некоторые ее части: секции, стелажи и тумбы. Такая модульная мебель изготавливается в едином стиле и все части, из которых она состоит, гармонично сочетаются.
        p.text Мы производим шкафы-купе всех видов, которые отличаются надежностью, качеством и функциональностью. Конечно, если в вашем доме имеются ниши, мы рекомендуем обустроить это пространство с максимальной пользой: разместить в них встраиваемые шкафы-купе и скрыть содержимое за красивыми раздвижными дверями. Хотя, в любом случае, вопрос выбора вида и наполнения шкафа, а также систем раздвижных дверей лучше производить на месте с дизайнером-замерщиком, который разработает оптимальный вариант именно для вашего дома.





    footer.footer.l-center-wrapper.l-center-wrapper_footer
      .footer__column.footer__column_legal_name
        .legal-name__row ИП Маслов Дмитрий Андреевич
        .legal-name__row ОГРНИП 312774609400500
        .legal-name__row ИНН 773134977654

      .footer__column.footer__column_legal_address
        .footer__column-heading Юр. адрес:
        |121596, г.Москва, ул. Горбунова, д.11, к.4
      .footer__column.footer__column_contacts
        .footer__contact Телефон: 8 (499) 390-62-36
        .footer__contacts__contact e-mail:
          a.footer__link(href='mailto:info@kupedekor.ru') &nbsp;info@kupedekor.ru


